<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="1password" />
  <package id="7zip" />
  <package id="chocolatey" />
  <package id="chocolateygui" />
  <package id="dropbox" />
  <package id="ffmpeg" />
  <package id="FiraCode" />
  <package id="Firefox" />
  <package id="git" />
  <package id="gitkraken" />
  <package id="GoogleChrome" />
  <package id="jdk8" />
  <package id="line" />
  <package id="nodist" />
  <package id="packer" />
  <package id="skype" />
  <package id="SourceTree" />
  <package id="telegram" />
  <package id="tortoisegit" />
  <package id="tortoisesvn" />
  <package id="vagrant" />
  <package id="virtualbox" />
  <package id="VisualStudio2015Community" />
  <package id="visualstudio2017community" />
  <package id="visualstudiocode" />
  <package id="winmerge-jp" />
  <package id="winscp" />
  <package id="wireshark" />
</packages>