<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="1password" version="4.6.1.617" />
  <package id="7zip" version="16.04" />
  <package id="7zip.install" version="16.04" />
  <package id="chocolatey" version="0.10.3" />
  <package id="chocolatey-core.extension" version="1.0.6" />
  <package id="ChocolateyGUI" version="0.13.2" />
  <package id="DotNet4.5.2" version="4.5.2.20140902" />
  <package id="dropbox" version="16.4.30" />
  <package id="git" version="2.11.1" />
  <package id="git.install" version="2.11.1" />
  <package id="gitkraken" version="2.0.1" />
  <package id="GoogleChrome" version="56.0.2924.87" />
  <package id="jdk8" version="8.0.121" />
  <package id="line" version="3.8.0.1350" />
  <package id="openssh" version="0.0.8.0" />
  <package id="packer" version="0.12.2" />
  <package id="PowerShell" version="5.1.14409.1005" />
  <package id="skype" version="7.32.0.103" />
  <package id="sourcetree" version="1.9.10.0" />
  <package id="telegram" version="1.0.6" />
  <package id="telegram.install" version="1.0.6" />
  <package id="tortoisegit" version="2.4.0.0" />
  <package id="tortoisesvn" version="1.9.5.27581" />
  <package id="vagrant" version="1.9.1" />
  <package id="vcredist2010" version="10.0.40219.2" />
  <package id="virtualbox" version="5.1.14" />
  <package id="VisualStudio2015Community" version="2015.03.02" />
  <package id="visualstudiocode" version="1.9.0" />
  <package id="winmerge-jp" version="2.14.0.80" />
</packages>